<div class="homepage" id="scrollbar_style">

  <img src="https://drive.google.com/uc?export=view&id=1t2pg9FBEmsZ6sxe-gqttKAnCoLdrNuSz" alt="" class="Home_Button">

  <div class="Menu_Button_Container">
    <span class="Menu_Button">
      <span class="Menu_Line eltdf-line-1">
      </span>
      <span class="Menu_Line eltdf-line-2">
      </span>
    </span>
  </div>


	<div class="bannervideocountainer">

		<iframe
			src="https://player.vimeo.com/video/363450178?title=0&amp;byline=0&amp;portrait=0&amp;loop=1&amp;player_id=iframe59217?autoplay=1&amp;autopause=0&amp;muted=1&amp;background=1&amp;playsinline=1"
			webkitallowfullscreen="" 
      mozallowfullscreen="" 
      allowfullscreen=""
			id="iframe59217" 
      data-ready="true" 
      class="bannervideosource">
    </iframe>

    <img src="https://drive.google.com/uc?export=view&id=19hwISQUnphdGrKSfHKVaeXOlqjhog5bJ" alt="" class="Home_Logo">

    <h5 class="Subtitle" >Trikon is a boutique production company and international               network of nomadic artists delivering organic cinematic content 
    </h5>
	</div>

  <mat-grid-list cols="4" rowHeight="1:1" class="Grid_List">
      <mat-grid-tile class="tile" *ngFor="let Project of ProjectIDs">
        <img src="{{GoogleBaseLink + Project}}" alt="" class="Project_Image">
      </mat-grid-tile>
  </mat-grid-list>
</div>
	
