

.homepage {
   position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100vh;
    border: 0;
    overflow-y: scroll;
    overflow-x: none;

}
    .Home_Button  {
      position: fixed;
      top: 48px;
      left: 48px;
      width: 48px;
      height: 48px;
      z-index: 2;
    }
    .Menu_Button_Container  {
      position: fixed;
      top: 48px;
      right: 48px;
      z-index: 2;
    }
    .Menu_Button  {
          opacity: 1;
           -webkit-animation: eltdfItemFadeIn 1s cubic-bezier(.34,.52,.57,1.04) forwards;
          -moz-animation: eltdfItemFadeIn 1s cubic-bezier(.34,.52,.57,1.04) forwards;
           animation: eltdfItemFadeIn 1s cubic-bezier(.34,.52,.57,1.04) forwards;
    }
    .Menu_Line  {
      position: absolute;
    height: 1px;
    width: 33px;
    background-color: currentColor;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    color: white;
    }
    .bannervideocountainer  {
      position: absolute;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      padding:0;
    }
        .bannervideosource  {
          border: none;
          position: absolute;
          right: 0;
          top: -38%;
          min-width: 100%;
          min-height: 100%;
          width: 100%;
          height: 178vh;
        }
            .Home_Logo {
              position: absolute;
              width: 800px;
              height: auto;
              left: calc(50% - 400px);
              top: calc(50% - 75px);
              z-index: 1;

            }
            .Subtitle {
              color: white;
              font-size: 24px;
              font-weight: 100;
              font-family: 'Chromatica', 'Arial', sans-serif;
              position: absolute;
              width: 800px;
              height: auto;
              left: calc(50% - 400px);
              top: calc(55%);
              z-index: 1;
              padding: 0 48px;
            }
    .Grid_List  {
      position: absolute;
      top: calc(100vh + 1px);
      width: 100%;
      z-index: 1;
    }
     
          .Project_Image  {
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transition: .5s; 
          }






#scrollbar_style::-webkit-scrollbar {
    width: 8px;
} 
#scrollbar_style::-webkit-scrollbar-thumb {
  border-radius: 0px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(230, 80, 115)),
									   color-stop(0.72, rgb(196, 104, 186)),
									   color-stop(0.86, rgb(154, 129, 222)));
}
#scrollbar_style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 0px;
}
