

.homepage {
   position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100vh;
    border: 0;
    overflow-y: scroll;
    overflow-x: none;

}
    .bannervideocountainer  {
      position: absolute;
      top: 0;

    }
        .bannervideosource  {
          position: absolute;
          top: 0;
          left: 0;
          border: 0;
        }
            .Home_Logo {
              position: absolute;
              width: 800px;
              height: auto;
              left: calc(50% - 400px);
              top: calc(50% - 75px);
              z-index: 1;

            }
            .Subtitle {
              color: white;
              font-size: 24px;
              position: absolute;
              width: 800px;
              height: auto;
              left: calc(50% - 400px);
              top: calc(55%);
              z-index: 1;
            }







#scrollbar_style::-webkit-scrollbar {
    width: 8px;
} 
#scrollbar_style::-webkit-scrollbar-thumb {
  border-radius: 0px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(230, 80, 115)),
									   color-stop(0.72, rgb(196, 104, 186)),
									   color-stop(0.86, rgb(154, 129, 222)));
}
#scrollbar_style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 0px;
}
