<div class="homepage" id="scrollbar_style">
	<div class="bannervideocontainer">
		<iframe
			src="https://player.vimeo.com/video/363450178?title=0&amp;byline=0&amp;portrait=0&amp;loop=1&amp;player_id=iframe59217?autoplay=1&amp;autopause=0&amp;muted=1&amp;background=1&amp;playsinline=1"
			webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="100%" height="100%"
			style="opacity: 1; visibility: inherit; width: 100%; height: 178.406%; display: block; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 16px; position: absolute; left: 0px; top: -39.2031%;"
			id="iframe59217" data-ready="true" class="bannervideosource">
    </iframe>
    <img src="https://drive.google.com/uc?export=view&id=19hwISQUnphdGrKSfHKVaeXOlqjhog5bJ" alt="" class="Home_Logo">
    <h5 class="Subtitle" >Trikon is a boutique production company and international               network of nomadic artists,  delivering organic cinematic content 
    </h5>
	</div>
</div>
	
